@keyframes icon-transition {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
        /* Adjust the scale factor as needed */
    }

    50% {
        transform: scale(1.1);
        /* Adjust the scale factor as needed */
    }

    75% {
        transform: scale(1.05);
        /* Adjust the scale factor as needed */
    }

    100% {
        transform: scale(1);
    }
}

.icon-transition {
    animation: icon-transition 2s ease;
    /* Increase the duration for a slower transition */
}