/* Style the modal */
.modal-container {
    overflow-y: auto;
    /* Enable vertical scrollbar */
    scrollbar-width: thin;
    /* Set the width of the scrollbar to thin */
    scrollbar-color: transparent transparent;
    /* Set the color of the scrollbar thumb and track to transparent */
}

/* Hide the scrollbar */
.modal-container::-webkit-scrollbar {
    width: 0;
    /* Hide the scrollbar width */
    height: 0;
    /* Hide the scrollbar height */
}

/* Ensure smooth scrolling */
.modal-container {
    -webkit-overflow-scrolling: touch;
}