/* Style the modal */
.modal-container {
    overflow-y: auto; /* Enable vertical scrollbar */
    scrollbar-width: thin; /* Set the width of the scrollbar to thin */
}

.modal-container::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}
